@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
    background: #232323;
}
main{
	position: relative;
	width: 100%;
}
section{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	place-items: center;
	font-family: 'Goldman', cursive;
	place-content: center;
}
section a{
	font-size: 55px;
	color: #fff;
	transition: .5s;
}
section a:hover{
	color: crimson;
}